.container {
  background-image: url('../../assets/images/description-bg/description.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  min-height: 600px;
  padding: 100px;
  border-radius: 40px;
}
.title {
  max-width: 530px;
  color: var(--text-light);
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.title::before {
  content: 'Enjoy';
  color: var(--text-accent);
  font-style: italic;
}
.text {
  margin: 37px 0 40px 0;
  max-width: 530px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-light);
}
