.resource {
}

.resourceText {
  padding: 100px 0 40px 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.resourceTextColored {
  color: var(--text-accent);
}

.resourceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.resourceGridFrame {
  border-radius: 20px;
  scale: 100%;
  transition: scale 0.5s ease-in-out;
}

.resourceGridFrame:hover {
  scale: 98%;
}
