:root {
  /*colors*/
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #666564;
  --border-light: #666564;
  --border-dark: #665f55;
}
