:root {
  /*colors*/
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #666564;
  --border-light: #666564;
  --border-dark: #665f55;
}

.heading1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.heading1Accent {
  font-style: italic;
}

.heading2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.heading2Accent:hover {
  font-style: italic;
}

.heading3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.textButton,
.textLink {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.burgerLink {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
