* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  overflow-x: hidden;
  background-color: var(--background-body);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
