.slider {
  margin: 100px 0;
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  color: var(--text-dark);
}

.titleMarked {
  color: var(--text-accent);
}

.sliderBlock {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
}

.sliderInner {
  max-width: 500px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.sliderTrack {
  display: flex;
}
